[submodule "vim/vim/bundle/easymotion"]
	path = vim/vim/bundle/easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/vim/bundle/colors_solarized"]
	path = vim/vim/bundle/colors_solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/commentary"]
	path = vim/vim/bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/vim/bundle/ctrlp"]
	path = vim/vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/vim/bundle/emmet"]
	path = vim/vim/bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim/vim/bundle/gnupg"]
	path = vim/vim/bundle/gnupg
	url = git@github.com:jamessan/vim-gnupg.git
[submodule "vim/vim/bundle/indent_object"]
	path = vim/vim/bundle/indent_object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/vim/bundle/repeat"]
	path = vim/vim/bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/vim/bundle/ultisnips"]
	path = vim/vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/vim/bundle/you_complete_me"]
	path = vim/vim/bundle/you_complete_me
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/vim/bundle/nerdtree_tabs"]
	path = vim/vim/bundle/nerdtree_tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/vim/bundle/taboo"]
	path = vim/vim/bundle/taboo
	url = git@github.com:gcmt/taboo.vim.git
[submodule "vim/vim/bundle/titlecase"]
	path = vim/vim/bundle/titlecase
	url = git@github.com:christoomey/vim-titlecase.git
