[submodule "vim/vim/bundle/easymotion"]
	path = vim/vim/bundle/easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
