snippet for "For loop" b
{% for $1 in $2 %}
{% endfor %}
endsnippet

snippet if "If statement" b
{% if $1 %}
{% endif %}
endsnippet

snippet ifelse "If/else statement" b
{% if $1 %}
{% else %}
{% endif %}
endsnippet
